body {
  margin: 0;
  height: 100vh;
  background: url("background.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Georgia', serif;
}

/* STEP 2 */
.hidden { display: none; }

/* STEP 3 POPUP */
  .letter-popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.envelope {
  transform: scale(0.9);
  position: relative;
  width: 600px;
  height: 1640px;
}

.envelope-img {
  width: 100%;
}

/* LETTER ANIMATION */
.letter-paper {
  position: absolute;
  width: 260px;
  height: 360px;
  background: url("letterpaper.jpg") center/cover;
  padding: 30px;
  top: 40px;
  left: 20px;
  transform: translateY(220px);
  transition: 1s ease;
  opacity: 0;
}

.envelope.open .letter-paper {
transform: translateY(-140px);
  opacity: 1;
}

.letter-page { display: none; }
.letter-page.active { display: block; }

.next-btn {
  position: absolute;
  bottom: 15px;
  right: 25px;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

