body {
  margin: 0;
  height: 100vh;
  background: url("background.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Georgia', serif;
}

.container {
  text-align: center;
}

.title {
  font-family: 'Transcity', serif;
  font-size: 42px;
  letter-spacing: 3px;
  margin-bottom: 30px;
  letter-spacing: 2px;
}

/* Envelope */
.envelope {
  width: 200px;
  height: 120px;
  background: #d9c7a7;
  position: relative;
  cursor: pointer;
  overflow: hidden;
}

.envelope-top {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background: #c4b08a;
  clip-path: polygon(0 0, 50% 100%, 100% 0);
  z-index: 3;
}

/* Letter */
.letter {
  position: absolute;
  bottom: -220px;
  left: 10px;
  width: 180px;
  height: 220px;
  background: #f5f1e6;
  padding: 15px;
  font-size: 14px;
  line-height: 1.5;
  transition: 1s ease;
  z-index: 2;
  font-family: 'Special Elite', cursive;
  line-height: 1.8;
}

.letter.open {
  bottom: 10px;
}

