body {
  margin: 0;
  height: 100vh;
  background: url("background.jpg") center/cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Georgia', serif;
}

/* STEP 1 */
.card-screen {
  margin-top: -10px;
  font-family: 'Abril Fatface', serif;
  transform: translateY(-80px);
}

.title span:first-child {
  font-size: 110px;
  letter-spacing: 8px;
  color: #8B3A3A;
}

.title span:last-child {
  font-size: 90px;
  letter-spacing: 10px;
  margin-top: -10px;
  color: #8B3A3A;
}

/* STEP 2 */
.hidden { display: none; }

.box-screen {
  text-align: center;
}

.letter-box {
  width: 220px;
  cursor: pointer;
  animation: fadeIn 1.5s ease;
}

/* STEP 3 POPUP */
.letter-popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: none;
  justify-content: center;
  align-items: center;
}

.letter-popup.show {
  display: flex;
}

.envelope {
  transform: scale(0.9);
  position: relative;
  width: 300px;
  height: 220px;
}

.envelope-img {
  width: 100%;
}

/* LETTER ANIMATION */
.letter-paper {
  position: absolute;
  width: 260px;
  height: 360px;
  background: url("letterpaper.jpg") center/cover;
  padding: 30px;
  top: 40px;
  left: 20px;
  transform: translateY(220px);
  transition: 1s ease;
  opacity: 0;
}

.envelope.open .letter-paper {
transform: translateY(-140px);
  opacity: 1;
}

.letter-page { display: none; }
.letter-page.active { display: block; }

.next-btn {
  position: absolute;
  bottom: 15px;
  right: 25px;
  background: none;
  border: none;
  font-size: 14px;
  cursor: pointer;
  text-decoration: underline;
}

@keyframes fadeIn {
  from { opacity: 0; transform: scale(0.8); }
  to { opacity: 1; transform: scale(1); }
}

